/***************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/***************/

header {
    background-color: #add8e6;
    min-height: 100px;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.justifycontentSB {
    justify-content: space-between;
}

#header1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.backgroundGoldenrod {
    background-color: #daa520;
}

a {
    text-decoration: none;
    color: black;
}

.layout {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0.5em;
}

#logo {
    width: calc(100% / 5);
}

#link {
    width: calc((100% / 5) * 3);
    align-self: center;
}

#login {
    width: calc(100% / 5);
    align-self: flex-end;
}

#header2 {
    background-color: #00008b;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.boxpink {
    background-color: #ee82ee;
    width: 47%;
    min-height: 400px;
}

.justifycontentC {
    justify-content: center;
}